<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/navigation')%>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolor beatae debitis illo adipisci
                    error recusandae rem voluptas commodi! Aut, dolorum? Ullam, similique architecto sunt voluptatibus
                    deserunt illo ducimus nesciunt nihil excepturi et dolorum a magnam tenetur illum sit asperiores
                    deleniti officiis error soluta ipsam unde explicabo. Laboriosam vitae, harum quod dolorum ratione
                    animi. Quaerat cupiditate facere earum, numquam quia molestias debitis veniam accusamus laboriosam,
                    optio pariatur? Possimus esse exercitationem earum enim iste soluta veniam nam accusamus, eum
                    eveniet voluptatum at consectetur quam perspiciatis in cum omnis minima, ut incidunt optio dolores.
                    Optio sint laboriosam eveniet minima modi quis delectus ut deserunt eum natus aut ipsum cum quia
                    aspernatur at pariatur velit dolorem nihil temporibus quo, aperiam vitae, laudantium odit! Eaque,
                    cupiditate provident rem vel deleniti illum. Ipsum quisquam cupiditate debitis sit tempora labore.
                    Excepturi minus in quasi veniam, aliquid molestias architecto, vero omnis, tenetur cupiditate unde
                    totam aut pariatur ad perferendis iure laborum? Aperiam modi vero aspernatur quibusdam obcaecati
                    qui, harum magnam sapiente illo animi molestias nesciunt ex possimus beatae similique suscipit
                    distinctio eum? Ipsa, assumenda. Ad similique molestias tenetur deserunt inventore voluptate. Sunt,
                    nemo! Velit dolorem id nobis distinctio natus et eveniet perferendis earum asperiores nemo ipsa amet
                    qui numquam blanditiis vero aperiam quasi saepe delectus, hic, ipsam itaque dolores? Corrupti esse
                    nihil eius quas, quo, quia quidem consequuntur aliquid placeat iure necessitatibus tempore
                    asperiores nemo quae odio omnis debitis minus modi exercitationem. Dignissimos nesciunt perferendis
                    necessitatibus consequuntur aliquid obcaecati fuga perspiciatis asperiores deserunt eius. Quod, et
                    aut recusandae eius porro vitae officia incidunt alias sint architecto ab rerum ratione nisi
                    mollitia, quisquam magni commodi adipisci cumque ducimus illo corporis voluptatibus? Tenetur
                    mollitia autem, libero et est iure enim ipsa fugiat blanditiis tempore voluptatum maxime unde
                    magnam, dignissimos, consequatur officiis! Tempore consectetur animi facilis, repellendus eligendi
                    eius beatae!</p>
            </section>
        </main>
        <%- include('partials/footer')%>
</body>

</html>